services:
  database:
    image: ghcr.io/istsos/istsos4/database:1.6
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      DATADIR: /var/lib/postgresql/data
    command: >
      postgres
        -c custom.network=${NETWORK:-0}
        -c custom.versioning=${VERSIONING:-0}
        -c custom.authorization=${AUTHORIZATION:-0}
        -c custom.duplicates=${DUPLICATES:-0}
        -c custom.epsg=${EPSG:-4326}
        -c custom.user=${ISTSOS_ADMIN:-admin}
        -c custom.password=${ISTSOS_ADMIN_PASSWORD:-admin}
        -c log_statement="all"
        -c log_destination="stderr"
        -c log_duration="on"
    ports:
      - ${POSTGRES_EXTERNAL_PORT}:5432
    healthcheck:
      test: pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    image: ghcr.io/istsos/istsos4/api:1.11
    environment:
      HOSTNAME: ${HOSTNAME}
      SUBPATH: ${SUBPATH}
      VERSION: ${VERSION}
      DEBUG: ${DEBUG}
      VERSIONING: ${VERSIONING}
      POSTGRES_DB: ${POSTGRES_DB}
      ISTSOS_ADMIN: ${ISTSOS_ADMIN}
      ISTSOS_ADMIN_PASSWORD: ${ISTSOS_ADMIN_PASSWORD}
      POSTGRES_HOST: ${POSTGRES_HOST}
      PG_MAX_OVERFLOW: ${PG_MAX_OVERFLOW}
      PG_POOL_SIZE: ${PG_POOL_SIZE}
      PG_POOL_TIMEOUT: ${PG_POOL_TIMEOUT}
      COUNT_MODE: ${COUNT_MODE}
      COUNT_ESTIMATE_THRESHOLD: ${COUNT_ESTIMATE_THRESHOLD}
      TOP_VALUE: ${TOP_VALUE}
      PARTITION_CHUNK: ${PARTITION_CHUNK}
      REDIS: ${REDIS}
      EPSG: ${EPSG}
      AUTHORIZATION: ${AUTHORIZATION}
      SECRET_KEY: ${SECRET_KEY}
      ACCESS_TOKEN_EXPIRE_MINUTES: ${ACCESS_TOKEN_EXPIRE_MINUTES}
      ALGORITHM: ${ALGORITHM}
      ANONYMOUS_VIEWER: ${ANONYMOUS_VIEWER}
      NETWORK: ${NETWORK}
    command: uvicorn --timeout-keep-alive 75 --workers 2 --host 0.0.0.0 --port 5000 app.main:app
    ports:
      - ${EXTERNAL_PORT}:5000
    working_dir: /code

  redis:
    image: redis:7.4.0-alpine3.20
    restart: always

  dummy_data:
    image: ghcr.io/istsos/istsos4/dummy_data:1.6
    command: python3 generator.py
    working_dir: /dummy_data
    environment:
      HOSTNAME: ${HOSTNAME}
      SUBPATH: ${SUBPATH}
      VERSION: ${VERSION}
      VERSIONING: ${VERSIONING}
      POSTGRES_DB: ${POSTGRES_DB}
      ISTSOS_ADMIN: ${ISTSOS_ADMIN}
      ISTSOS_ADMIN_PASSWORD: ${ISTSOS_ADMIN_PASSWORD}
      POSTGRES_HOST: ${POSTGRES_HOST}
      DUMMY_DATA: ${DUMMY_DATA}
      CLEAR_DATA: ${CLEAR_DATA}
      N_THINGS: ${N_THINGS}
      N_OBSERVED_PROPERTIES: ${N_OBSERVED_PROPERTIES}
      INTERVAL: ${INTERVAL}
      FREQUENCY: ${FREQUENCY}
      START_DATETIME: ${START_DATETIME}
      CHUNK_INTERVAL: ${CHUNK_INTERVAL}
      EPSG: ${EPSG}
      AUTHORIZATION: ${AUTHORIZATION}
      NETWORK: ${NETWORK}
    depends_on:
      database:
        condition: service_healthy
