ISTSOS4_FROM_URL=https://source.example/v1.1
ISTSOS4_FROM_USER=source-user
ISTSOS4_FROM_PASSWORD=source-password
NETWORK_FROM=
PROCEDURES_FROM=
TIMESTAMP_START_FROM=
TIMESTAMP_END_FROM=

ISTSOS4_TO_URL=http://localhost:8019/v4/v1.1
ISTSOS4_TO_USER=target-user
ISTSOS4_TO_PASSWORD=target-password
NETWORK_TO=

# Daily bulks are split only if they exceed this technical limit.
# Maximum: 2000.
BATCH_SIZE=2000
