asyncpg==0.31.0
fastapi==0.139.0
geoalchemy2==0.20.0
passlib[bcrypt]==1.7.4
pydantic==2.13.4
pyjwt==2.13.0
python-dateutil==2.9.0.post0
python-multipart==0.0.32
redis==8.0.1
sly==0.5
sqlalchemy==2.0.51
ujson==5.13.0
uvicorn==0.51.0